*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  
}

  body{
  background-color: #000;
  height: 100vh;
  }

  .interface{
  max-width:1280px;
  margin: 0 auto;
  }

  .flex{
  display: flex;
  }

  .btn-contato button{
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color:aqua;
  border: 0;
  border-radius: 30px;
  cursor:pointer;
  transition: .2s;
  }

  h2.titulo{
      color: #fff;
      font-size: 38px;
      text-align: center;
  }
  h2.titulo span{
      color: aqua
  }


  header{
  padding: 40px 4%;
  }

  header > .interface{
  display: flex;
  align-items: center;
  justify-content: space-between;

  }
  header a{
  color: #8d8a8a;
  text-decoration: none;
  display:inline-block;
  transition: .2s;
  }

  header a:hover{
  color:#fff;
  transform:scale(1.05);
  }

  header nav ul{
  list-style-type: none;
  }
  header nav ul li{
  display:inline-block;
  padding: 0 40px;
  }
  .btn-contato button:houver{
  box-shadow: 0px 0px #5169ee;
  transform: scale(1.05)
  }
  section.topo-do-site{
  padding: 40px 4%;
  }
  section.topo-do-site.flex{
  align-items: center;
  justify-content: center;
  gap: 90px;
  }

  .topo-do-site h1{
  color: #fff;
  font-size: 38px;
  line-height: 40px;
  }
  .topo-do-site .txt-topo-site h1 span{
  color:#5169ee;
  }

  .topo-do-site .txt-topo-site p{
  color: #fff;
  margin: 40px 0;
  }

  .topo-do-site .img-topo-site img{
    position: relative;
    animation: barco 2s ease-in-out infinite alternate;
  }
  .img-topo-site{
  margin-left: 5vw;
  }

  @keyframes barco {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
  }

  section.especialidades{
      padding: 40px 4%;
  }

  section.especialidades.flex{
      gap: 60px;
  }
  .especialidades .especialidades-box{
      color: #fff;
      padding: 40px;
      border-radius: 20px;
      margin-top: 45px; 
      transition: .2s;
  }
  .especialidades .especialidades-box:hover{
      transform:scale(1.05);
      box-shadow: 0 0 17px rgba(43, 231, 238, 0.459);
  }

  .especialidades .especialidades-box h3{
      font-size: 28px;
      margin: 15px 0;
  }
  section.sobre{
      padding: 40px 4%;
  }
  section.sobre .flex{
      align-items: center;
      gap: 60px;
  }


  .sobre .txt-sobre{
      color: #fff;
  }
  .sobre .txt-sobre h2{
      font-size: 40px;

  }

  a{
    text-decoration: none;
    color: #fff
  }